/* Header Component Styles */
.header-container {
    background-color: #333;
    padding: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .header-container a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    transition: color 0.3s ease;
  }
  
  .header-container a:hover {
    color: #ffa500;
  }
  
  .header-container a.cart-link {
    font-weight: bold;
    color: #00ff00;
  }
  
  .header-container a.cart-link:hover {
    color: #32cd32;
  }
  
  .header-container a.active {
    color: #ffa500;
  }
  
  
  
  .modal-content {
    background-color: #e8e6e6;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    position: relative;
    text-align: center;
  }
  
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close-button {
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px;
  }
  .close-button:hover{
    background-color:grey ;

  }